body {
    padding: 0px;
    margin: 0px;
    background: #fff;
    padding-inline-start: 0px !important;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

